.wizard {
  width: 100%;
  height: auto;
  min-height: 100vh;
  display: grid;
  grid-template-rows: 30% 70%;
  &-section {
    padding: 24px;
    display: grid;
    background: linear-gradient(
      180deg,
      rgba(19, 35, 91, 1) 0%,
      rgba(147, 127, 182, 1) 35%,
      rgba(216, 159, 174, 1) 100%
    );
  }
  &-housing {
    padding: 24px;
    display: grid;
    grid-template-rows: 90% 10%;
    &-options {
      width: 100%;
      height: 100%;
      display: grid;
      place-items: center;
    }
    &-handle-sections {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-rows: 10% 90%;
      row-gap: 2px;
      z-index: 50;
      &__progress-bar {
        width: 100%;
        height: 4px;
      }
      &__progress-bar::-webkit-progress-bar {
        background-color: white;
        border: none;
      }
      &-buttons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        button {
          width: 118px;
          height: 48px;
          border: none;
          font-size: 1.8rem;
        }
        &__back {
          background: none;
          text-decoration: underline;
        }
        &__next {
          background-color: #1572a1;
          border-radius: 32px;
          color: white;
        }
      }
    }
  }
}

@media (min-width: 744px) {
  .wizard {
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr;
    &-section {
      height: 100%;
      padding: 24px;
      &__title {
        align-self: flex-start;
      }
    }
  }
}
