.host-details-container {
  padding: 30px 20px;
  border-bottom: 1px solid #9B9B9B;
}
.host-details-container h3 {
  display: inline;
  font-size: 36px;
  line-height: 40px;
}
.host-details-container ul li {
  list-style: none;
}
.host-details-container button {
  width: 256px;
  height: 60px;
  margin-top: 24px;
  font-weight: 600;
  color: var(--color-main);
  background-color: white;
  border-radius: 32px;
  border: 1px solid #1572A1;
}