.host-details-container {
  padding: 30px 50px;
  border-bottom: 1px solid #9B9B9B;
}
.host-details-container h3 {
  display: inline;
  font-size: 32px;
  color: red;
  line-height: 40px;
}
.host-details-container a {
  text-decoration: underline;
}
.host-details-container .id-validation, .host-details-container .ratings {
  display: inline;
}
.host-details-container button {
  width: 256px;
  height: 60px;
  margin-top: 24px;
  font-weight: 600;
  color: var(--color-main);
  background-color: white;
  border-radius: 32px;
  border: 1px solid #1572A1;
  cursor: pointer;
}

.host-details__img {
  width: 38px;
}

.data__icon-start {
  width: 12px;
}

.host-details__section {
  padding: 20px 0;
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  padding-left: 0;
  margin-bottom: 30px;
  line-height: 24px;
  text-align: justify;
}

.host-details__section ul li {
  list-style: none;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  -moz-column-break-inside: avoid;
       break-inside: avoid;
}

.host-bio {
  padding-right: 24px;
}

.host-details__date {
  color: #9B9B9B;
}