.host-container {
  padding: 30px 20px;
  border-top: 1px solid #9B9B9B;
  border-bottom: 1px solid #9B9B9B;
  h3{
    font-size: 36px;
    line-height: 40px;
  }


  a{

  }
  ul li {
      list-style: none;
    }
  button {
    width: 256px;
    height: 60px;
    margin-top: 24px;
    font-weight: 600;
    color: var(--color-main);
    background-color: white;
    border-radius: 32px;
    border: 1px solid #1572A1;;
  }
}


  // &__profile__date{
  //   display: flex;
  //   flex-direction: column;
  // }
//  &__description-bio p {
//    text-transform: uppercase;
//  }
  // ul li {
  //   list-style: none;
  // }

// .host-details-container {
  
// }

