@import '../../../styles/globals.scss';
.create-title {
  @include form-layout(0);
  &__title {
    font-size: 2.4rem;
  }
  &__textarea {
    min-width: 100%;
    max-width: 100%;
    textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 40px;
      max-height: 120px;
      font-size: 3.2rem;
      font-weight: bold;
    }
  }
  &__length {
    font-size: 1.6rem;
  }
}
