.dashboard {
  margin-left: 17rem;
}
.dashboard h2 {
  font-size: 2.2em;
}
.list {
  list-style: none;
  margin: 0;
  padding-left: 0;
}
.list__item {
  display: flex;
  flex-direction: row;
}
.item__tag {
  margin-right: 5rem;
}
.manage {
  cursor: pointer;
  color: #1572a1;
  font-weight: bold;
}
