body {
    margin: 0;
  }
  .header {
    padding: 15px;
  }
  .Company-name {
    background-color: #1572a1;
    border-radius: 50%;
    margin: 0;
    color: white;
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
  }
  .NavBar {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
  }
  .header {
    border-bottom: 1px solid #9b9b9b;
  }
  .admin {
    display: flex;
    align-items: center;
  }
  .Administrador {
    color: #1572a1;
    margin-right: 20px;
    font-size: 18px;
    pointer-events: none;

}
.Admin-photo {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    object-fit: cover;
}
@media only screen and (max-width: 425px) {
    .Company-name {
        width: 50px;
        height: 50px;
    }
    .Admin-photo {
        width: 40px;
        height: 40px;
    }
    .Administrador {
        font-size: 16px;
    }
}
