table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
}

th {
  text-align: start;
  border-collapse: collapse;
  border-bottom: #000 1px solid;
  padding-bottom: 10px;
}

thead td {
  padding-top: 10px;
}

thead th:nth-child(1) {
  width: 17%;
}
thead th:nth-child(2) {
  width: 13%;
}

thead th:nth-child(3) {
  width: 13%;
}

thead th:nth-child(4) {
  width: 13%;
}

thead th:nth-child(5) {
  width: 13%;
}
