.user__image {
  border-radius: 70%;
}

.containerData {
  border: 1px solid #9b9b9b;
  border-radius: 12px;
  border-radius: 12px;
  width: 350px;
  display: flex;
  flex-direction: column;
  padding: 1.5em 1.5em 0.7em 1.5em;
  align-items: center;
}

.details h4 {
  font-size: 1.5em;
}

.date {
  color: #8c8888;
  font-size: 0.8em;
}

.delete__button {
  padding: 0.6em 1em;
  font-size: 1em;
  cursor: pointer;
  background-color: #f8475f;
  border: none;
  color: #fff;
  border-radius: 10px;
  font-weight: bold;
  margin-top: 1em;
}

.delete__button:hover {
  background-color: #e81431;
}
