.frameTimeline {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  & strong {
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    text-transform: capitalize;
    @media (max-width: 624px) {
      display: block;
    }
  }
}
