.footer {
  height: 155px;
  width: 100%;
  display: flex;
  flex-direction: row;
  border-top: 1px solid #9B9B9B;
  margin: 0;
  padding: 0 64px;
  align-items: center;

  a {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: #000000;
    margin-left: 100px;

    &:first-child {
      margin-left: 0px;
    }
  }
}