.rating {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  margin-top: 0.8rem;
}

.star {
  color: rgb(255, 153, 0);
  margin-right: 0.2rem;
  position: relative;
}

.rating p:nth-child(3) {
  color: rgb(151, 151, 151);
  margin-left: 0.8rem;
  font-size: 1.2rem;
}
