:root {
  /* colors */
  --color-font-dark: #000000;
  --color-font-middle: #666666;
  --color-font-light: #ffffff;
  --color-font-alt: #1572a1;
  --color-main: #1572a1;

  /* font-size */
  --size-font-l: 36px;
  --size-font-m: 24px;
  --size-font-s: 18px;
}

.users_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: end;
  padding: 0 40px;
}

.link {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-font-dark);
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--color-main);
  background-image: url('../assets/iconUser.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
}

.host {
  margin-right: 24px;
}

.host > a {
  color: var(--color-font-alt);
}

.landing .host > a {
  color: var(--color-font-light);
}
