:root {
  /* colors */
  --color-font-dark: #000000;
  --color-font-middle: #666666;
  --color-font-light: #ffffff;
  --color-font-alt: #1572a1;
  --color-main: #1572a1;

  /* font-size */
  --size-font-l: 36px;
  --size-font-m: 24px;
  --size-font-s: 18px;
}

.users_container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: end;
  padding: 0 40px;
}

.link {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-font-dark);
}

.user {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: var(--color-main);
  background-image: url('../assets/iconUser.png');
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  outline: none;
}

.userAuthenticated {
  background-image: none;
  border-radius: 50%;
}

.userAuthenticated > img {
  border-radius: 50%;
  width: 100%;
}

.host {
  margin-right: 24px;
}

.host > a {
  color: var(--color-font-alt);
}

.landing .host > a {
  color: var(--color-font-light);
}

.dropdown_list_container {
  position: absolute;
  top: 65px;
  right: 10px;
}

.dropdown_list {
  padding: 0;
  margin: 0;
  background: #ffffff;
  box-sizing: border-box;
  color: #000;
  font-size: 14px;
  border-radius: 30px;
}

.list_item {
  list-style: none;
  padding: 1.5rem 1rem 1.3rem;
  border-bottom: 1px solid #9b9b9b;
}

.list_item:last-child {
  border-bottom: none;
}
