:root {
  /* colors */
  --color-font-dark: #000000;
  --color-font-middle: #666666;
  --color-font-light: #ffffff;
  --color-font-alt: #1572a1;
  --color-main: #1572a1;

  /* font-size */
  --size-font-l: 36px;
  --size-font-m: 24px;
  --size-font-s: 18px;
}

.header__container {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 222px;
  padding: 24px;
  border-bottom: 1px solid #9b9b9b;
}

.landing.header__container {
  border-bottom: none;
}

.logo {
  color: var(--color-font-light);
  width: 80px;
  height: 80px;
  margin: 0 40px;
  border-radius: 50%;
  background-color: var(--color-main);
}

.landing .logo {
  color: var(--color-main);
  background-color: var(--color-font-light);
}

.logo a {
  width: 80px;
  height: 80px;
  display: block;
  font-size: var(--size-font-l);
  font-weight: 600;
  text-align: center;
  padding: 12px 0;
  color: inherit;
}

.search__container {
  width: 590px;
  height: 60px;
  justify-self: center;
  border-radius: 60px;
  background-color: var(--color-font-light);
  box-shadow: 0 0 10px var(--color-font-middle);
}

.link {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-font-dark);
}

.user {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-main);
  cursor: pointer;
}

.host {
  margin-right: 24px;
}

.host > a {
  color: var(--color-font-alt);
}

.filter__container {
  display: flex;
  justify-content: space-between;
  grid-column: 2 / 3;
  justify-self: center;
  width: 590px;
}

.filter {
  height: 48px;
  padding: 0 20px;
  border: 1px solid var(--color-main);
  border-radius: 24px;
}

.filter > p {
  display: block;
  line-height: 1;
  color: var(--color-font-alt);
}

.filter > p span {
  /*simulando el icono*/
  font-weight: bold;
}
