.trash_item {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0 0;
  }
  
  .trash_item p {
    color: rgb(31, 32, 32);
    font-weight: 800;
  }
  
  .trash_item i {
    align-self: flex-end;
    color: #1572a1;
    cursor: pointer;
    font-size: 30px;
  }

  .fa-trash{
    color: #1572a1;
    cursor: pointer;
    font-size: 150%;
  }
  
  .modal-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(158, 157, 157, 0.836);
    display: grid;
    place-items: center;
  }
  
  .white_card-confirm {
    align-items: center;
    border-radius: 32px;
    box-shadow: 0 0 30px gray;
    display: flex;
    background-color: white;
    flex-direction: column;
    margin-bottom: 50px;
    max-height: 350px;
    padding: 30px;
    width: 600px;
  }
  
  .white_card-confirm p {
    color: rgb(31, 32, 32);
    font-weight: 500;
    margin: 30px 0;
    padding: 20px;
    text-align: center;
  }
  
  .white_card-confirm i {
    align-self: center;
    color: #1572a1;
    font-size: 60px;
    margin-top: 20px;
  }
  
  .white_card-buttons button {
    background: white;
    border-radius: 30px;
    border: 1px solid #1572a1;
    color: #1572a1;
    cursor: pointer;
    padding: 10px 30px;
  }
  
  .white_card-buttons button:hover,
  .success-delete button:hover {
    background: #1572a1;
    color: white;
  }
  
  .white_card-buttons #cancel {
    margin-right: 50px;
  }
  
  .success-delete {
    align-items: center;
    border-radius: 32px;
    box-shadow: 0 0 30px gray;
    flex-direction: column;
    max-height: 350px;
    padding: 30px;
    width: 450px;
    background-color: white;
  }
  
  .success-delete p {
    color: rgb(31, 32, 32);
    font-weight: 500;
    margin: 30px 0;
    text-align: center;
  }
  
  .success-delete button {
    background: white;
    border-radius: 30px;
    border: 1px solid #1572a1;
    color: #1572a1;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    padding: 10px 30px;
  }