:root {
  /* colors */
  --color-font-dark: #000000;
  --color-font-middle: #666666;
  --color-font-light: #FFFFFF;
  --color-font-alt: #1572A1;
  --color-main: #1572A1;

  /* font-size */
  --size-font-l: 36px;
  --size-font-m: 24px;
  --size-font-s: 18px;
}

.paging__container {
  grid-area: pages;
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.icon {
  width: 24px;
  height: 24px;
  border: none;
  background-color: inherit;
  background-image: url(../assets/icons8-expand-arrow-96.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}

.icon--left {
  transform: rotate(90deg);
}

.icon--right {
  transform: rotate(-90deg);
}

.paging {
  display: inline-block;
  width: 40px;
  height: 40px;
  font-size: var(--size-font-s);
  font-weight: 600;
  line-height: 2.4;
  text-align: center;
  color: var(--color-font-dark);
}

.paging-start {
  border-radius: 20px;
  color: var(--color-font-light);
  background-color: var(--color-main);
}
