:root {
  /* colors */
  --color-font-dark: #000000;
  --color-font-middle: #666666;
  --color-font-light: #FFFFFF;
  --color-font-alt: #1572A1;
  --color-main: #1572A1;
  /* font-size */
  --size-font-l: 36px;
  --size-font-m: 24px;
  --size-font-s: 18px;
}

/* COMMON */
.results__container {
  display: grid;
  grid-template-areas: 
    "header"
    "content"
    "footer";
}
.link {
  font-size: 1rem;
  font-weight: 400;
  color: var(--color-font-dark);
}

/* HEADER */
.header__container {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 222px;
  padding: 24px;
  border-bottom: 1px solid #9B9B9B;
}

.logo {
  width: 80px;
  height: 80px;
  margin: 0 40px;
  border-radius: 50%;
  background-color: var(--color-main);
}

.logo a {
  width: 80px;
  height: 80px;
  display: block;
  font-size: var(--size-font-l);
  font-weight: 600;
  text-align: center;
  padding: 12px 0;
  color: var(--color-font-light);
}

.search__container {
  width: 590px;
  height: 60px;
  justify-self: center;
  border-radius: 60px;
  background-color: var(--color-font-light);
  box-shadow: 0 0 10px var(--color-font-middle);
}

.users_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-self: end;
  padding: 0 40px;
}

.host {
  margin-right: 24px;
}

.host>a {
  color: var(--color-font-alt);
}

.user {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--color-main);
  cursor: pointer;
}

.filter__container {
  display: flex;
  justify-content: space-between;
  grid-column: 2 / 3;
  justify-self: center;
  width: 590px;
}

.filter {
  height: 48px;
  padding: 0 20px;
  border: 1px solid var(--color-main);
  border-radius: 24px;
}

.filter>p {
  display: block;
  line-height: 1;
  color: var(--color-font-alt);
}

.filter>p span {
  /*simulando el icono*/
  font-weight: bold;
}

/* MAIN ( RESULTS & MAP) */
.section__container {
  grid-area: content;
  width: 100%;
  max-width: 1512px;
  display: grid;
  grid-template-areas: 
    "map results"
    " .  pages";
  margin: 0 auto;
}

/* RESULTS */
.list__results {
  grid-area: results;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px 0;
}

.results__card {
  width: 850px;
  height: 300px;
  border-radius: 32px;
  box-shadow: 0 0 10px var(--color-font-middle);
}

.paging__container {
  grid-area: pages;
  width: 100%;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border: 1px solid red;
}

.icon {
  width: 24px;
  height: 24px;
  border: none;
  background-color: inherit;
  background-image: url(../assets/icons8-expand-arrow-96.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 24px;
}
.icon--left {
  transform: rotate(90deg);
}
.icon--right {
  transform: rotate(-90deg);
}

/* MAP */
.map__container {
  grid-area: map;
  width: 558px;
  height: 764px;
  background-color: darkslategrey;
  background-image: url("../assets/map.png");
}

/* FOOTER */
.footer__container {
  grid-area: footer;
  width: 100%;
  height: 130px;
  background-color: azure;
}

.footer__wrapper {
  max-width: 1512px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 100px;
  padding-right: 146px;
}