.container-description
{
   width: 60%;
   margin-left: 64px;
}

.info 
{
   display: inline-block;
   margin-right: 20px;
}

.title
{
   font-weight: 500;
   font-size: 36px;
}

.spaces-availables 
{
   padding-top: 12px;
   padding-bottom: 40px;
   font-weight: 400;
   font-size: 18px;
   list-style: none;
   display: flex;
}

.spaces-availables li:last-child span 
{
   display: none;
}

.container .item-benefit:last-child
{
   margin-bottom: 0;
}

.container
{
   border-top: 1px solid #9B9B9B;
   padding: 40px 0;
}

.description-text
{
   font-weight: 400;
   font-size: 18px;
   color: #000000;
   margin-bottom: 24px;
}

.show-more 
{
   font-weight: 500;
   font-size: 18px;
   color: #000000;
}