.should-know{
  padding-left: 15px;
  border-top: 1px solid #9B9B9B;
  border-bottom: 1px solid #9B9B9B;
  div{
    width: 33%;
    display: inline-flex;
    flex-direction: column;
  }
}

.health-security ul{
  display: flex;
  flex-direction: column;
}

.cancellations span{
  padding-top: 16px;
}
