// Variables
@use './variables.scss';

.requirements {
  width: 100%;
  height: 428px;
  border-top: 1px solid variables.$bk-gray;
  border-bottom: 1px solid variables.$bk-gray;
  padding: 40px 0;
  margin-bottom: 40px;
  position: relative;

  &__section {
    margin-top: 24px;
    width: 100%;
    height: auto;
  }

  &__first {
    display: flex;
    justify-content: space-between;
  }

  &__date {
    font-size: 1.8rem;
    font-weight: 400;
  }
}

.button__add {
  position: absolute;
  right: 0;
}
