* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.list-searchbar {
  width: 748px;
  height: 60px;
  background: #ffffff;
  box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.25);
  border-radius: 60px;
}
