* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.user--experience-container {
  position: relative;
  display: flex;
  width: 215px;
}

.user--experience-container p {
  margin-top: 15px;
  margin-right: 15px;
  color: #ffffff;
  font-size: 18px;
}

.user--img-container {
  width: 54px;
  height: 54px;
  background-color: #1572a1;
  border-radius: 50%;
}

.user--img-container img {
  margin-left: 6px;
  margin-top: 6px;
}
