@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.personalInfo {
  font-family: "Poppins", sans-serif;
  padding: 1em;
  max-width: 600px;
  width: 100%;
}
.personalInfo h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
}
.personalInfo label {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
}
.personalInfo .inputContainer {
  border-bottom: solid 1px #9b9b9b;
  padding: 24px 0px;
  position: relative;
}
.personalInfo .inputContainer span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-decoration-line: underline;
  position: absolute;
  right: 0;
  color: #000000;
}
.data-text,
.data-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.data-text div,
.data-input input {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: block;
}
.data-input input {
  margin-right: 1em;
  border-bottom: 1px solid;
  margin-top: 1em;
}
.data-input p {
  font-size: 12px;
}


/*notification*/

#cooltoast-container {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
/*   font-family: 'Helvetica'; */
}

.cooltoast-toast {
  position: relative;
  padding: 8px 12px;
  margin: 16px;
  border-radius: 8px;
  background: #F5F5F5;
  cursor: pointer;
  box-shadow: 0 1px 6px rgba(0,0,0,0.08), 0 1px 3px rgba(0,0,0,0.19);
  animation-duration:  .3s;
  animation-name: cooltoast;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
}

.cooltoast-fadeOut {
  animation-name: cooltoastFadeOut;
  animation-duration: .3s;
  animation-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  animation-fill-mode: forwards;
}

#cooltoast-container p,
#cooltoast-container h4 {
  margin: 3px 0!important;
}

.cooltoast-title {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 10px;
}

.cooltoast-text {
  font-size: 14px;
  color: #777;
}

.cooltoast-icon {
  position: absolute;
  top: 5px;
  left: -40px;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #FFF;
}

.cooltoast-toast a, .cooltoast-toast a:hover {
  color: #549EDB !important;
  text-decoration: none !important;
}

/** toast types */
.cooltoast-success {
  border-bottom: 2px solid #51C625;
}

.cooltoast-warning {
  border-bottom: 2px solid #DB9215;
}

.cooltoast-error {
  border-bottom: 2px solid #DB2B1D;
}

.cooltoast-info {
  border-bottom: 2px solid #27ABDB;
}

@keyframes cooltoast {
  from {
    transform: translate3d(400px, 0, 0);;
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes cooltoastFadeOut {
  from {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  to {
    transform: translate3d(400px, 0, 0);
    opacity: 0;
  }
}
