@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
.personalInfo {
  font-family: "Poppins", sans-serif;
  padding: 1em;
}
.personalInfo h2 {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
}
.personalInfo label {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  width: 100%;
}
.personalInfo .inputContainer {
  border-bottom: solid 1px #9b9b9b;
  padding: 24px 0px;
  position: relative;
}
.personalInfo .inputContainer span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  text-decoration-line: underline;
  position: absolute;
  right: 0;
  color: #000000;
}
.data-text,
.data-input {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.data-text div,
.data-input input {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  display: block;
}
.data-input input {
  margin-right: 1em;
  border-bottom: 1px solid;
  margin-top: 1em;
}
.data-input p {
  font-size: 12px;
}
