:root {
  /* colors */
  --color-font-dark: #000000;
  --color-font-middle: #666666;
  --color-font-light: #ffffff;
  --color-font-alt: #1572a1;
  --color-main: #1572a1;

  /* font-size */
  --size-font-l: 36px;
  --size-font-m: 24px;
  --size-font-s: 18px;
  --size-font-xs: 14px;
}

.search__container {
  display: flex;
  width: 590px;
  height: 60px;
  font-size: var(--size-font-s);
  justify-self: center;
  align-items: center;
  text-align: left;
  padding: 10px;
  border-radius: 60px;
  background-color: var(--color-font-light);
  box-shadow: 0 0 10px var(--color-font-middle);
}

.search__container input {
  border: none;
  cursor: pointer;
  outline: none;
  font-size: var(--size-font-xs);
}

/* .search__container label {
  cursor: pointer;
} */

.search__container .search_location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  border: 1px solid transparent;
  border-right-color: var(--color-main);
  width: 150px;
  cursor: pointer;
}

.search__container .search_arrivalDepartures {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  border: 1px solid transparent;
  border-right-color: var(--color-main);

  width: 105px;

  cursor: pointer;
}

.search__container .search_Guests {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;

  width: 110px;

  cursor: pointer;
}

.search__container button {
  width: 54px;
  height: 54px;
  background-color: var(--color-main);
  border-radius: 50%;
  border: none;
  cursor: pointer;
}

.search__container button img {
  width: 20px;
  height: 20px;
  background-image: url('../assets/icons8-search-32\ \(1\)\ 1.png');
  border: none;
  cursor: pointer;
}
