@import '../../../styles/globals.scss';

.floor-plan {
  @include form-layout(4);
  &-option {
    display: flex;
    justify-content: center;
    align-items: center;
    &__field {
      width: 180px;
      font-size: 2.4rem;
    }
    &__handle-amount {
      max-width: 100px;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      place-items: center;
      column-gap: 8px;
      button {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #b0b0b0;
        background: none;
        font-size: 2.4rem;
        cursor: pointer;
      }
      button:hover {
        border: 1px solid black;
      }
      span {
        font-size: 2.4rem;
      }
    }
  }
}
