html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins;
  font-size: 18px;
}

label {
  align-self: flex-end;
  color: #1572A1;
  display: block;
  margin: 2px 3px 0 3px;
}

button {
  border: 0;
  border-radius: 32px;
  background-color: #1572A1;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Poppins;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  height: 64px;
  margin: 31px 31px 5px 31px;
  line-height: 27px;
}

input {
  align-self: flex-start;
  border-style: none;
  width: 141px;
}

select {
  border-style: none;
  margin: 0 3px 0 3px;
}

span {
  display: block;
  line-height: 1.8;
}

.date-picker-form {
  border: 1px solid #9B9B9B;
  border-radius: 32px;
  display: grid;
  height: 206px;
  margin-left: 31px;
  width: 396px;
}

.container {
  display: grid;
  background: #FFFFFF;
  border-radius: 32px;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.2);
  height: 422px;
  max-width: 460px;
}

.night-fee {
  font-size: 24px;
  height: 36px;
  margin: 25px 31px 0 31px;
}

.checkout-container,
.check-in-container,
.guest-counter-container {
  padding-left: 16px;
  padding-top: 24px;
}

.check-in-container,
.checkout-container {
  width: 50%;
}

.check-in-container {
  grid-area: 1/1/2/2;
}

.checkout-container {
  border-left: 1px solid #9B9B9B;
  grid-area: 1/2/2/3;
}

.guest-counter-container {
  border-top: 1px solid #9B9B9B;
  grid-area: 2/1/3/3;
}

