.bs-icon__button {
  width: 48px;
  height: 48px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  font-size: 2.8rem;
  font-weight: 600;
  cursor: pointer;
}

.bs-icon__button--primary {
  background-color: #1572a1;
  color: white;
}

.bs-icon__button--secondary {
  background-color: white;
  color: #1572a1;
}
