.perks{
  width: 60%;
  margin-left: 64px;
  padding: 40px 0;
  border-top: 1px solid #9B9B9B;
  h2{
    font-weight: 500;
    font-size: 36px;
  }
  ul{
    column-count: 2;
    list-style: none;
    padding-left: 0;
    margin-bottom: 30px;
    li{
      padding-top: 29px;
      img {
        height: 32px;
        width: 32px;
        margin-right: 24px;
      }
    }
  }
  a {
    color: inherit;
    margin-top: 10px;
  }
}
