@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Poppins:wght@400;600&display=swap');

:root {
  /* Color */
  --main-color-400: hsla(200, 77%, 36%, 1);
  --main-color-500: hsla(200, 95%, 46%, 1);
  --main-color-900: hsla(200, 41%, 95%, 1);
  --neutral-color-100: hsla(0, 0%, 0%, 1);
  --neutral-color-400: hsla(0, 0%, 40%, 1);
  --neutral-color-600: hsla(0, 0%, 61%, 1);
  --neutral-color-900: hsla(0, 0%, 100%, 1);

  /* Gradients */
  --background-1: linear-gradient(
    180deg,
    var(--main-color-400) 0%,
    hsla(0, 0%, 77%, 0) 100%
  );

  /* Font families */
  --ff-main: "'Poppins', sans-serif";
  --ff-decoration: "'Permanent Marker', cursive";

  /* Font sizes */
  --font-size-300: clamp(0.83rem, 0.11vw + 0.81rem, 0.9rem);
  --font-size-400: clamp(1rem, 0.21vw + 0.96rem, 1.13rem);
  --font-size-500: clamp(1.2rem, 0.34vw + 1.13rem, 1.41rem);
  // --font-size-600: clamp(1.44rem, 0.53vw + 1.33rem, 1.76rem);
  --font-size-700: clamp(1.73rem, 0.78vw + 1.57rem, 2.2rem);
  --font-size-800: clamp(2.07rem, 1.81vw + 1.71rem, 3rem);
  // --font-size-800: clamp(2.07rem, 1.31vw + 1.81rem, 2.75rem);
  // --font-size-900: clamp(2.49rem, 1.57vw + 2.17rem, 3.43rem);

  /* Border radius */
  --border-radius: 2rem;

  /* Box shadows */
  --box-shadow: 0px 4px 24px 0px hsla(0, 0%, 0%, 0.2);

  /* Spacing */
  --space-1: 0.25rem;
  --space-2: 0.5rem;
  --space-3: 0.75rem;
  --space-4: 1rem;
  --space-5: 1.25rem;
  --space-6: 1.5rem;
  --space-7: 2rem;
  --space-8: 2.5rem;
  --space-9: 4rem;
  --space-10: 6.25rem;
}
