@import '../../../../styles/globals.scss';

.text-area {
  @include form-layout(0);
  &__instruction {
    @include instructionTitleForm;
  }
  &__input {
    min-width: 100%;
    max-width: 100%;
    textarea {
      min-width: 100%;
      max-width: 100%;
      min-height: 120px;
      max-height: 160px;
      padding: 24px;
    }
    &--text-title {
      font-size: 3.2rem;
      font-weight: bold;
    }
    &--text-paragraph {
      font-size: 1.8rem;
      font-weight: 500;
      color: #666666;
    }
  }
  &__length {
    font-size: 1.6rem;
  }
}
