* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  width: 1200px;
  height: 100px;
  display: flex;
  justify-content: space-between;
  /* margin: 40px 60px; */
  margin: 40px;
  padding-left: 20px;
}
