@import '../../../styles/globals.scss';

.enter-address {
  @include form-layout(6);
  &__field {
    width: 100%;
    height: 100%;
    input[type='text'] {
      @include input-text;
    }
    select {
      width: 100%;
      height: 100%;
      border: none;
      border-block-end: 1px solid #9b9b9b;
      font-size: 1.6rem;
      color: #666666;
    }
  }
  &__button {
    @include button-form;
  }
}
