footer {
    padding: 20px 0 20px 20px;
    grid-area: 4 / 1 / 5 / 9;
    display: flex;
    flex-direction: row;
    gap: 2%;
  }
  
.footer-button {
    background: none;
    border: none;
    height: 27px;
    left: 603px;
    top: 1133px;
    color: #000000;
  }

  .line-item-hr hr{
    margin-top: 50px;
  }