.most-visited-container {
  position: relative;
  width: 100%;
}

.most-visited-title {
  padding: 40px 64px;
}

.most-visited-title h2 {
  font-size: 2rem;
  font-weight: 600;
  line-height: 40px;
  color: #000000;
}

.cards-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 80px;
  height: 380px;
  margin: 0;
  padding: 0 64px;
}
