.container {
  position: relative;
  min-width: 500px;
  display: flex;
  flex-direction: column;
  height: 600px;

  border: 1px solid #9B9B9B;
  border-radius: 32px;
  overflow: hidden;
}

.userInfoContainer {
  padding: 30px 32px;
  border-bottom: inherit;
}

.textBoxContainer {
  position: absolute;
  left: 32px;
  right: 32px;
  bottom: 40px;
}

.messagesContainer {
  overflow-y: auto;
  padding: 16px 32px;
  padding-bottom: 124px;
}

.loadMoreContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.loadMoreBtn {
  /* reset button css values */
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
  width: inherit;
  outline: inherit;
  color: #0071A4;
}